<html>
<head>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
        rel='stylesheet'
        type='text/css'>
    <style>
        .search {
            margin: 0 auto;
            width: 800px;
        }

        .user-avatar {
            float: left;
            margin-right: 12px;
            width: 40px;
            border-radius: 40px;
        }

        .results {
            margin-top: 40px;
        }
    </style>
    <title>Yellow Pages Search</title>
</head>
<body>
<div class="search">
    <div class="cui__input giant">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Type your search query" class="cui__input__input" (keyup)="search()"  />
    </div>

    <div class="results">
        <div class="cui__selector--direct title">

            <h2 class="cui__selector--direct__title">
                    {{resultsMessage}}
                </h2>
            <div *ngIf="persons">
                <person-detail *ngFor="let person of persons" [person]="person"></person-detail>
            </div>
       </div>
    </div>
</div>
</body>
</html>

