<html>
<head>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'
        rel='stylesheet'
        type='text/css'>
    <style>
        .search {
            margin: 0 auto;
            width: 800px;
        }

        .user-avatar {
            float: left;
            margin-right: 12px;
            width: 40px;
            border-radius: 40px;
        }

        .results {
            margin-top: 40px;
        }
    </style>
    <title>Eksercise</title>
</head>
<body>
<div class="search">
    <div class="cui__input giant">
        <div *ngIf="showInputMessage" >
            <label class="cui__input__label">
                Type your search query
            </label>
        </div>
        <input class="cui__input__input" (keyup)="onKey($event)" (focus)="onFocus()" (focusout)="onLostFocus()" />
    </div>

    <div class="results">
        <div class="cui__selector--direct title">

            <div *ngIf="persons">
                <h2 class="cui__selector--direct__title">
                    Search results 
                </h2>
                <person-detail *ngFor="let person of persons" [person]="person"></person-detail>
            </div>
            <div *ngIf="!persons">
                <h2 class="cui__selector--direct__title">
                    No Search results Found
                </h2>
            </div>
       </div>
    </div>
</div>
</body>
</html>

